<ng-container *ngIf="type != 4">
<div class="modal-header">
  <h4 class="modal-title pull-left">
    {{type === 1 ? 'Открыть смену': ''}}
    {{type === 5 ? 'Закрыть смену': ''}}
    {{type === 2 ? data.name: ''}}
    {{type === 3 ? 'Рецепт': ''}}
  </h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
  <div class="modal-body">
    <div class="row">        
      <ng-container *ngIf="type === 1 || type === 5">
        <div style="flex:100%;" *ngIf="price.invalid && (price.dirty || price.touched)">
          <div class="alert alert-danger"*ngIf="price.errors.required">
            Поле не должно быть пустым
          </div>
        </div>   

        <div class="col-4" style="align-self: flex-end;"> 
          <label class="control-label"><b>Сумма в кассе:</b></label>
        </div> 
        <div class="col">
          <input type="text" class="form-control" [(ngModel)]="Form.price" #price="ngModel" required>
        </div>
      </ng-container>         
      <ng-container *ngIf="type === 2">
        <div style="width: 100%;">
          <ng-container *ngIf="data">
            <div class="col-12" *ngFor="let combo of data.childe | keyvalue">
              <div class="combo-parent-name">{{combo.value.name}}</div>
              <select class="form-control" multiple>         
                <option *ngFor="let child of combo.value.tovarArray" (click)="selectCombo(child)" [value]="child">{{child.name}}</option>
              </select>           
            </div>
          </ng-container>
        </div>
      </ng-container>
      <ng-container *ngIf="type === 3">
        <div class="row width100 pb-1" *ngFor="let item of data.process">  
          <div class="col-2">{{item[0]}}</div>
          <div class="col-10">{{item[1]}}</div>
        </div>
         <!--<div class="structure">
          <ul *ngFor="let item of data.structure" class="col-12">
            <li>{{item[0]}}</li>
            <li>{{item[1]}} {{item[4]}}</li>
          </ul>    
        </div>     -->
      </ng-container>
    </div> 
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-sm btn-danger" *ngIf="type === 2" (click)="getCombo(data)" [disabled]="!form.touched">{{confirmBtnName}}</button>
    <button type="submit" class="btn btn-sm btn-danger" *ngIf="type === 1 || type === 5" (click)="saveModal(type, smena)">{{confirmBtnName}}</button>
    <button type="button" class="btn btn-sm btn-primary" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
  </div>
</ng-container>

  <ng-container *ngIf="type === 4">
    <div class="terminal" [formGroup]="formWeight">
      <input class="form-control" type="text" formControlName="weight" autofocus>
      <div class="mt-4 mb-5 row">
        <div class="number" (click)="getNumber('1')">1</div>
        <div class="number" (click)="getNumber('2')">2</div>
        <div class="number" (click)="getNumber('3')">3</div>
        <div class="number" (click)="getNumber('4')">4</div>
        <div class="number" (click)="getNumber('5')">5</div>
        <div class="number" (click)="getNumber('6')">6</div>
        <div class="number" (click)="getNumber('7')">7</div>
        <div class="number" (click)="getNumber('8')">8</div>
        <div class="number" (click)="getNumber('9')">9</div>
        <div class="delete" (click)="deletePinField()">X</div>
        <div class="number" (click)="getNumber('0')">0</div>
        <div class="replace" (click)="replacePinField()"><</div>
        <button type="button"  class="btn btn-danger btn-block"  (click)="changeCount(data)" data-dismiss="modal">Изменить</button>
      </div>
    </div>
  </ng-container>