.combo-parent-name {
    text-align: center;
    padding: 4px;
    font-size: 14px;
    font-weight: bold;
}
.structure {
    margin-top: 5%;
}
ul  {
    list-style: none;
    font-size: 11px;
    color: #066ea3;
    font-weight: bold;
    margin-top: 2%;

    li {
        display: initial;
        padding: 0px 5px;
    }
}