<div class="sj-panel sj-panel-fh">
  <div class="sj-panel-body">
    <table class="full-list table">
      <thead>
        <tr>
          <th></th>
          <th>№</th>
          <th>Смена</th>
          <th>Дата</th>
          <th>Тип оплаты</th>
          <th>Сотрудник</th>
          <th>Скидка</th>
          <th>Сумма</th>
          <th>Прибыль</th>
          <th>Оплата</th>
          <th>Статус</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of bill" class="bill">
          <td><i class="fa fa-bars detail_bill" (click)='openDetail(item)'></i></td>
          <td><b>{{item.id}}</b></td>
          <td>{{item.smena_id}}</td>
          <td>{{formateDate(item.date)}}</td>
          <td>{{item.name}}</td>
          <td class="">{{item.user}}</td>
          <td class="">{{item.sale}}</td>
          <td class=""  style="text-align: left; font-weight: bold;">{{item.price }} <i class="fa fa-"></i></td>
          <td class="" style="text-align: left; font-weight: bold;">{{item.sale_price_margin}} <i class="fa fa-"></i></td>
          <td class="pay" style="text-align: left; font-weight: bold;">
            <span *ngIf="item.payment" class="billAcceptPay">Оплачен</span>
            <span *ngIf="!item.payment"  class="billNotPay">Не оплачен</span>
          </td>
          <td *ngIf="item.type == 3" class="status" style="text-align: left; font-weight: bold;"><span style="background: {{item.statusColor}}">{{item.statusName}}</span></td>
          <td><div (click)="updateModal(item, 2)" >Изменить</div></td> 
          <td><div (click)="openModal(item, 'bill')">Удалить</div></td>  
        </tr> 
      </tbody>
    </table>
    <sj-paginator *ngIf="bill && bill.length" 
    [length]="bill.total"
    [array]="bill"
    [limit]="limit"
    (params)="setPaginatorParams($event)"
    ></sj-paginator> 
  </div>
</div>