span.billNotPay{
    background: #f34230;
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 3px 3px 3px 3px;    
}
span.billAcceptPay{
    background: #1ebf34;
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 3px 3px 3px 3px;   
}