<div class="stats-wrapper">
  <cdk-virtual-scroll-viewport class="table-viewport" [itemSize]="40">
      <table class="full-list table">
        <thead>
          <tr>
            <th [style.top]="inverseOfTranslation">Товары</th>
            <th [style.top]="inverseOfTranslation">Причина</th>
            <th [style.top]="inverseOfTranslation">Дата</th>
            <th [style.top]="inverseOfTranslation">Сумма</th>
            <th [style.top]="inverseOfTranslation" style="width: 100px;">Действия</th>
          </tr>
        </thead>
        <tbody>
          <tr *cdkVirtualFor="let item of discard" class="item" cdkFixedHeader>
            <td>
              <span *ngFor="let name of item.tovar; let last = last; let i = index"> {{name}} <strong *ngIf="!last">/</strong></span>
            </td>
            <td>{{item.reason}}</td>
            <td>{{item.date}}</td>                           
            <td>{{item.price}} <i class="fa fa-rub"></i></td>
            <td>
                <a (click)="ngEdit(item)" class="mr-25" data-toggle="tooltip" data-original-title="Редактировать"> <i class="icon-pencil"></i></a>  
                <a (click)="openModal(item, 'discard')" class="mr-25" data-toggle="tooltip" data-original-title="Удалить"> <i class="icon-trash txt-danger"></i> </a>       
            </td>
          </tr>
        </tbody>
      </table>
  </cdk-virtual-scroll-viewport>        
</div>