<div class="sj-panel sj-panel-fh">
  <div class="sj-panel-header">
    <a [routerLink]="['/dashboard', 'write']"  class="btn btn-sm btn-add">Списать</a>
  </div>   
  <div class="sj-panel-body">
      <table class="full-list table">
        <thead>
          <tr>
            <th>Товары</th>
            <th>Причина</th>
            <th>Дата</th>
            <th>Сумма</th>
            <th>Действия</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of discard" class="item">
            <td>
              <span *ngFor="let name of item.tovar; let last = last; let i = index"> {{name}} <strong *ngIf="!last">/</strong></span>
            </td>
            <td>{{compareDiscardId(item.resonId)}}</td>
            <td>{{item.datetime | date: 'dd.MM.yyyy'}}</td>                           
            <td>{{item.price}} <i class="fa fa-rub"></i></td>
            <td>
                <a (click)="ngEdit(item)" class="mr-25" data-toggle="tooltip" data-original-title="Редактировать"> <i class="icon-pencil"></i></a>  
                <a (click)="openModal(item, 'discard')" class="mr-25" data-toggle="tooltip" data-original-title="Удалить"> <i class="icon-trash txt-danger"></i> </a>       
            </td>
          </tr>
        </tbody>
      </table>
    </div>      
</div>