<div class="sj-panel sj-panel-fh">
    <div class="sj-panel-header row">
        <div class="col-sm-12 col-md-6">
            <div class="dataTables_filter">
                <input type="search" class="form-control form-control-sm" placeholder="Поиск">
            </div>
        </div>
        <div class="col-sm-12 col-md-6"> 
            <a [routerLink]="['/dashboard', 'addtovar']" class="btn btn-sm btn-add">Добавить товар</a>
            <a [routerLink]="['/dashboard', 'addrecept']" class="btn btn-sm btn-add">Добавить технологическую карту</a>     
        </div>
    </div>
    <div class="sj-panel-body">
        <div class="stats-wrapper">
            <table class="table table-centered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Название</th>
                        <th>Категория</th>
                        <th>Обьем</th>
                        <th>Себестоимость</th>
                        <th>Цена</th>
                        <th>Наценка</th>
                        <th>Выход</th>
                        <th>Скидка</th>
                        <th>Действие</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of menu" class="item">
                        <td class="detail_menu"><i class="icon-eye icons" (click)='openDetail(item)' *ngIf="item.ingredient" ></i></td>
                        <td class="left-cell index"><a class="show-ing-uses-table pseudo-link">{{item.name}}</a></td>
                        <td>{{item.categories_name}}</td>
                        <td>{{item.size}}</td>
                        <td>?</td>
                        <td>{{item.price}}</td>
                        <td>?</td>
                        <td>{{item.output}}</td>
                        <td>{{item.nodiscountText}}</td>
                        <td>
                            <i class="icon-pencil mr-25" (click)="update(item)"></i>
                            <i class="icon-trash txt-danger mr-25" (click)="openModal(item.id, item.name, 'menus')"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <sj-paginator *ngIf="menu.length" 
        [length]="menu.total"
        [array]="menu"
        [limit]="limit"
        (params)="setPaginatorParams($event)"
        ></sj-paginator>
    </div>
</div>