.index-bottom {
    display: flex;
} 
.wrap-container {
    flex-grow: 0.5;
    margin-left:15px;
    margin-top: 31px;
    margin-right: 0px;
    border: 1px solid #E6E8EB;
    background: white;
    padding: 5px;
    border-radius: 4px;
    &:last-child {
        margin-right: 15px;
    }
    h2 {
        font-size: 15px;
        padding-left: 1%;
        margin-top: 10px;
        margin-bottom: 20px !important;
    }
}
.chart-wrapper {
    clear: both;
    margin-top: 15px;
    .wrap-container {   
        flex-grow: 1;
        border: 1px solid #E6E8EB;
        margin-left: 13px;
        min-height: 260px;
        margin-top: 0;
        background: white;
        height: auto;
        padding: 5px;
        border-radius: 4px; 
    }
    .wrap-stat {
        border: 1px solid #E6E8EB;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 15px;
        margin-top: 15px;
        background: white;
        padding: 5px;
        border-radius: 4px;
    }
}
.flexItem {
    display: flex;
    max-height: 400px;
    overflow: auto;
}
.table {
    width: 100%;
    max-width: 100%;
    thead > tr > th {
        cursor: pointer;
        padding-left: 10px;
        padding-bottom: 6px;
        text-align: left;
    }
    tbody > tr > td {
        border-top: 1px solid #eee;
        padding: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: none;
    }
}
.wrap-popular {
    .popular-chart {
        overflow: hidden;
        height: 100px;
        width: 40%;
    }
    .popular-table {
        width: 60%;
        height: inherit;
        overflow: auto;
    }
}
.chart-wrapper .active, .btn-stat:hover {
    border: solid 2px #7eb6ec !important;
    color: black !important;
    background: white !important;
}

@media screen and (max-width: 800px) {
    .flex-reverse {
        flex-direction: column-reverse;
    }
}
.sj-card {
    position: relative;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 6px 1px rgba(69,65,78, 0.1);
    -moz-box-shadow: 0 1px 6px 1px rgba(69,65,78,0.1);
    box-shadow: 0 1px 6px 1px rgba(69,65,78,0.1);
    margin-bottom: 2rem;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.1);
}
.sj-chart-label {
    position: absolute;
    top: 1rem;
    right: 5px;
    border-radius: 25px;
    color: #fff;
    font-size: 12px;
    padding: 0.25rem 0.75rem;
}
.bg-black {
    background-color: #7b7b7b;
}
.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}
.media {
    justify-content: space-between;
    align-items: center;
    -webkit-transition: 0s;
    transition: 0s;
}
.sj-card-body, .sj-card-footer {
    position: relative;
    padding: 1rem;
    font-size: 14px;
}
.media-body {
    -ms-flex: 1;
    flex: 1;
}
.bg-black {
    background-color: #7b7b7b;
}
.bg-green {
    background-color: #3ec13e;
}
.sj-panel.sj-panel-fh {
    height: calc( 100% - 2rem );
}
.sj-panel {
    background: #fff;
    -webkit-box-shadow: 0 1px 6px 1px rgba(69,65,78, 0.1);
    -moz-box-shadow: 0 1px 6px 1px rgba(69,65,78,0.1);
    box-shadow: 0 1px 6px 1px rgba(69,65,78,0.1);
    margin-bottom: 15px;
    margin-top: 15px;
    &-header {
        position: relative;
        padding: 1.5rem;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        h6 {
            margin-bottom: 0;
            text-transform: uppercase;
            font-weight: 700;
        }
    }
}
.sj-panel-body, .sj-panel-footer {
    position: relative;
    padding: 1.5rem;
}