<div class="cart"[formGroup]="cartService.cartForm">
  <table class="table table-condensed table-zakaz" >
    <thead>
      <tr>
        <th>Наименование</th>
        <th>Цена</th>
        <th>Кол-во</th>
        <th>Итого</th>
        <th></th>
      </tr>
    </thead>            
    <tbody>    
      <ng-container formArrayName="combo">
        <tr *ngFor="let items of cartService.data.combo; let key = index;">
          <td colspan="5">
            <div class="flex flex__center">
              <div class="flex__20">
                <ng-container *ngFor="let item of items.zakaz">
                  <div class="name">{{item.name}}</div>
                </ng-container>
              </div>
              <div class="bold">Комбо {{items.tovarName}}</div>
            </div>
          </td>
          <td colspan="1" (click)="deleteCombo(items.zakazLength, key, items.price)"><a class="delete-tovar">x</a></td> 
        </tr>
      </ng-container>
      <ng-container formArrayName="tovars">
      <tr *ngFor="let tovar of cartService.tovars.controls; let i = index">
        <td class="name">{{tovar.controls['name'].value}}</td>
        <td class="price">{{tovar.controls['price'].value}}</td>
        <td class="calc-count">
          <span class="minus" (click)="setIncrement(tovar, i)">-</span>
          <span class="count"><input type="text" class="form-control" [formControl]="tovar.controls['count']"> </span>
          <span class="plus" (click)="setDecrement(tovar, i)">+</span>
        </td>
        <td class="price-new">{{tovar.controls['priceWeight'].value}}</td>
        <td class="delete-tovar" (click)="deleteCart(i)">
          <a class="delete-tovar">x</a>
        </td>
      </tr>  
      </ng-container>      
         
    <tbody>
  </table>  
</div>
<div class="new_bill">
  <table class="table detail-transaction pay_bill">
    <tbody>
      <tr class="bg-grey">
        <td *ngFor="let item of list"><span class="pay_beznal btn" (click)="onSelectItem(item)" [class.active]="item === activeItem">{{item}}</span></td>
      </tr>
    </tbody>
  </table>
  <table class="table detail-transaction">
    <tbody>
      <tr class="bg-grey last-product">
        <td>Позиций</td>
        <td class="right-cell no-wrap"></td>
        <td class="count-cell no-wrap">{{cartService.count}}</td>
      </tr>
      <tr class="bg-grey last-product">
        <td>Итого</td>
        <td class="right-cell no-wrap"></td>
        <td class="price-cell no-wrap">{{cartService.price}}</td>
      </tr>
      <tr class="bg-grey last-product">
        <td>Итого со скидкой <b *ngIf="cartService.sale">{{cartService.sale}} %</b></td>
        <td class="right-cell no-wrap" id="itog_plus_sale"><b></b></td>
        <td class="price-cell-sale no-wrap">{{cartService.priceSale}}</td>
      </tr>
    </tbody>
  </table>    
  <div class="opensmena" [ngClass]="{'cancel-opacity': openSmena}">                       
    <span class="btn btn-danger btn-bill">Отмена заказа</span>
    <span class="btn btn-success btn-bill" (click)="buy()">Оплата заказа</span>
  </div>  
</div>