<form class="row" [formGroup]="form" (ngSubmit)="save()">
    <div class="form-group row">
        <label for="name" class="col-sm-3 col-form-label">Имя сотрудника</label>
        <div class="col-sm-9">
            <mat-form-field class="name">
                <input matInput id="name" formControlName="name">
            </mat-form-field>
        </div>
    </div>
    <div class="form-group row">
        <label for="access" class="col-sm-3 control-label">Уровень доступа</label>
        <div class="col-sm-9">
            <mat-form-field>
                <mat-select formControlName="access">
                    <mat-option *ngFor="let access of accesses; trackBy: trackByFn" value="{{access.access}}">
                        {{access.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 control-label">Права доступа</label>
        <div class="col-sm-9 tax-type-change" formArrayName="level">
            <ng-template ngFor let-category [ngForOf]="form.controls.level.controls" let-i="index">
                <label formGroupName="{{ i }}">
                    <mat-checkbox color="primary" class="tp-margin" formControlName="checked" [checked]="categories[i].checked">{{ categories[i].name }}</mat-checkbox>
                </label>
                <br>
            </ng-template> 
        </div>
    </div>
    <div class="form-group row">
        <label for="filial" class="col-sm-3 control-label">Заведение для привязки</label>
        <div class="col-sm-9">
            <mat-form-field>
                <mat-select formControlName="filial">
                    <mat-option *ngFor="let filial of filials; trackBy: trackByFn" value="{{filial.id}}">
                        {{filial.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field> 
        </div>
    </div>
    <div class="form-group row">
        <label for="pass" class="col-sm-3 control-label">Пароль для входа в админ панель</label>
        <div class="col-sm-9">
            <mat-form-field class="pin">
                <input matInput id="pass" type="password" formControlName="password">
            </mat-form-field>
        </div>
    </div>
    <div class="form-group row">
        <label for="pin" class="col-sm-3 control-label">PIN для входа в терминал</label>
        <div class="col-sm-9">
            <mat-form-field class="pin">
                <input matInput id="pin" type="password" formControlName="pin">
            </mat-form-field>
        </div>
    </div>  
    <div class="control-group the-submit">
        <div class="max-width-wrapper">
            <button type="submit" class="btn btn-success btn-sm" [disabled]="form.invalid">Сохранить</button>
        </div>
    </div>
</form> 