<div class="sj-panel sj-panel-fh">
  <div class="sj-panel-header row">
    <button mat-button (click)="openModal()" class="btn btn-sm btn-add">Добавить категорию</button>
  </div>
  <div class="sj-panel-body">
    <table class="full-list table">
      <thead>
        <tr>
          <th>Наименование</th>
          <th>Тип статьи</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of finance">
          <td>{{item.name}}</td>
          <td>{{type[item.operation]}}</td>
          <td>
              <i class="icon-pencil mr-25" (click)="update(item)"></i>
              <i class="icon-trash txt-danger mr-25" (click)="deleteItem(item.id, item.name, 'category')"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>