<header class="header row">
  <div class="left-nav col-8">
      <div class="breadcump">
        <i class="fa fa-th"></i> <a id="all_categories" (click)="clickBreadcump()">Все категории</a>
        <ng-container *ngFor="let item of cartService.breadcrumbs">
          <span class="fa fa-long-arrow-right"></span>
          <a class="next_page">{{item.name}}</a>
        </ng-container>
      </div>
      <div class="search">
        <div class="search_clients input-group">
            <i class="fa fa-user"></i>
            <input type="text" class="search">
        </div>
        <div class="search input-group">
            <input type="text" class="search">
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>     
      </div>       
  </div>
  <div class="right-nav col">
    <ul>
      <li *ngIf="openSmena; else closeSmena"><a class="item" (click)="openModal()">Начать смену</a></li>
      <ng-template #closeSmena>
        <li class="dropdown"><i class="fa fa-bars detail_bill"></i>
          <div class="dropdown-content">
            <a class="dropdown-item" (click)="openTransactions(6)">Перевод смены</a>
            <a class="dropdown-item" (click)="openTransactions(3)">Инкасация</a>
          </div>
        </li>
        <li><a class="smena_close" (click)="closeSmenaFunc()">Закрыть смену</a></li>
        <li><a (click)="logout()" alt="Выход"><span class="glyphicon glyphicon-off"></span> Выйти</a></li>
      </ng-template>
      <li class="user_id"><a>{{settingsService.terminalUserName | async}}</a></li>
    </ul>    
  </div>
</header>