header {
    background: #e66060;
    position: absolute;
    z-index: 2;
    color: white;
    padding: 8px 0px 0px 0px;

    ul {
        display: flex;
        list-style: none;
        margin-bottom: 7px;
        justify-content: flex-end;

        li {
            display: inline;
            a {
                color: white;
                padding: 8px 10px;
                font-size: 14px;
                font-weight: 600;
                list-style: none;  

                &:hover {
                    opacity: 1;
                    background: #0980E2;
                    color: white;
                    text-decoration: none;
                }  
            }                 
        }   
    }

    .breadcump {
        display: flex;
        flex: 54em;
        i {
            font-size: 19px;
            float: left;
            cursor: pointer;
            margin-right: 3%;
        }       
        a {
            color: white;
            font-weight: bold;
            cursor: pointer;
            font-size: 12px;
            display: inline-block;
            &.next_page {
                cursor: no-drop;
            }
        }   
          
        span {
            margin-left: 2%;
            margin-right: 2%;
            font-weight: bold;
        }
        
    }
    .search {
        display: flex;
        flex: 75em;

        .input-group {
            margin-right: 10px;
        }
        i {
            position: absolute;
            height: 30px;
            line-height: 30px;
            top: -6%;
            right: 8px;
            color: #AAAAAA;
            font-size: 15px;
        }      
        input {
            height: 80%;
            border: none;
        }  
    }

    .left-nav {
        flex: 75em;
        display: flex;
    }

    .right-nav {
        align-self: center;
    }
}
a {
    color: white !important;
}
.dropdown {
    &:hover {
        .dropdown-content {
            display: block;
        }
    }
    i {
        color: white;
    }
    .dropdown {
        &-content {
            top: 100%;
            position: absolute;
            left: 0;
            z-index: 1000;
            display: none;
            float: left;
            min-width: 10rem;
            padding: .5rem 0;
            margin: 0 0 0;
            font-size: 1rem;
            text-align: left;
            font-size: 0.875rem;
            list-style: none;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: .25rem;
        }
        &-item {
            display: block;
            width: 100%;
            padding: 0.25rem 1.5rem;
            clear: both;
            font-weight: 400;
            color: #212529 !important;
            text-align: inherit;
            white-space: nowrap;
            background-color: transparent;
            border: 0;
        }
    }
}