<nav class="side-menu">
    <ul class="firstLevel">
        {{menu}}
        <li class="item" *ngFor="let item of menuService.item">
            <div (click)='toggleState($event)' >
                <span class="fa fa-{{item.icon}}"></span>
                <span class="link"><a [routerLink]="['/dashboard', item.route]" routerLinkActive="active">{{item.text}}</a></span>
                <b class="caret"></b>
            </div>
            <ul class="submenu">
                <li *ngFor="let sub of item.submenu"><a [routerLink]="['/dashboard', sub.route]" routerLinkActive="active">{{sub.text}}</a></li>
            </ul>
        </li>
        <li class="item" (click)="logout()">
            <span class="fa fa-exit"></span>
            <span class="link">Выход</span>
            <b class="caret"></b>
        </li>
    </ul>
</nav>