.day {
    color: white;
    font-weight: bold;
    padding: 5px;
    margin: 3px;
}

.day1 {
    background:#0181F6;
}
.day2 {
    background:#e70101;
}
.day3 {
    background:#6d20ac;
}
.day4 {
    background:#89af19;
}
.day5 {
    background:#da83c1;
}
.day6 {
    background:#7adcd1;
}
.day7 {
    background:#efc15f;
}