.plus {    
    align-self: center;
    justify-content: center;
    margin-left: 12px;
    color: #f83f37;
    cursor: pointer;
    border: solid 1px #f83f37;
    text-align: center;
    width: 20px;
}
.alignSelf {
    align-self: center;
}