.plus {    
    align-self: center;
    justify-content: center;
    margin-left: 12px;
    color: #f83f37;
    cursor: pointer;
    border: solid 1px #f83f37;
    text-align: center;
    width: 20px;
}
.alignSelf {
    align-self: center;
}

.sj-panel {
    background: #fff;
    -webkit-box-shadow: 0 1px 6px 1px rgba(69,65,78, 0.1);
    -moz-box-shadow: 0 1px 6px 1px rgba(69,65,78,0.1);
    box-shadow: 0 1px 6px 1px rgba(69,65,78,0.1);
    margin-bottom: 15px;
    margin-top: 15px;
    &-header {
        position: relative;
        padding: 1.5rem;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        h6 {
            margin-bottom: 0;
            text-transform: uppercase;
            font-weight: 700;
        }
    }
}
.sj-panel-body, .sj-panel-footer {
    position: relative;
    padding: 1.5rem;
}