:host {

}
.hk-navbar.navbar-light {
    background: #fff;
}
.hk-navbar {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.text-red, .text-danger {
    color: #f83f37 !important;
}
a.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    line-height: inherit;
    white-space: nowrap;
}