<div class="sj-panel sj-panel-fh">
  <div class="sj-panel-body">
      <table class="full-list table">
        <thead>
          <tr>
            <th style="width: 50px;"></th>
            <th>Название</th>
            <th>Адрес</th>
            <th>Телефон</th>
            <th>Комментарий</th>
            <th>Колличество поставок</th>
            <th>Сумма поставок</th>
            <th style="width: 100px;">Действия</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let supplier of suppliers" class="item">
            <td class="left-cell index"><a class="show-ing-uses-table pseudo-link">{{supplier.tovar}}</a></td>
            <td>{{supplier.name}}</td>
            <td>{{supplier.adress}}</td>
            <td>{{supplier.phone}}</td>
            <td>{{supplier.comment}}</td>    
            <td>{{supplier.count}}</td>                           
            <td>{{supplier.price}}<i class="fa fa-rub"></i></td>
            <td>
                <a (click)="ngEdit(sklad)" class="mr-25" data-toggle="tooltip" data-original-title="Редактировать"> <i class="icon-pencil"></i></a>  
                <a (click)="openModal(sklad.id, sklad.tovar, 'sklad')" class="mr-25" data-toggle="tooltip" data-original-title="Удалить"> <i class="icon-trash txt-danger"></i> </a>       
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>