.categories, .combo, .weight-tovar {        
        height: 140px;
        background: white;
        font-weight: bold;
        text-align: center;
        width: calc(10.2%);
        float: left;
        font-size: 12px;
        cursor: pointer;
        margin: 1%;
        overflow: auto;
        margin-top: 5px;
        padding: 0px;
}
.tovar {
        height: 150px;
        background: white;
        font-weight: bold;
        text-align: center;
        width: calc(10.2%);
        float: left;
        display: flex;
        flex-direction: column;
        font-size: 12px;
        cursor: pointer;
        margin: 1%;
        margin-top: 5px;
        padding: 0px;
        position: relative;
        .tovar-name {
                font-size: 11px;
                padding: 2px;
                height:55px;
                overflow: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-bottom: 1px solid rgba(248, 63, 55, 0.1);
        }
        .tovar-character {
                font-size: 11px;
                padding: 2px; 
        }
}
.process:hover {
        background: #f34230;
        color: white;
}
.process {
        padding-top: 4px;
        border-top: 1px solid #eee;
        color: #066ea3;
        height: 26px;
        font-size: 11px;
        width: 100%;
}
img {
        height: 80px;
        width: 95%;
        margin-bottom: 5px;
        margin-top: 2px;
}    
.name {
        padding: 5px;
        display: inline-block;
}    
.clearBox {
        clear: both;
}