<div class="sj-panel sj-panel-fh">
  <div class="sj-panel-body">
    <div [formGroup]="form">
      <div class="form-group">
        <mat-form-field class="col-12">
            <mat-label>Причина списания</mat-label>
            <mat-select formControlName="reason" required>   
              <mat-option  *ngFor="let item of keys(discardName) | keyvalue" [value]="item.key">{{item.value}}</mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="col-12">
          <mat-label>Своя причина</mat-label>
          <input matInput>
        </mat-form-field>                         
      </div>
      <div class="form-group">  
        <mat-form-field class="col-12">
          <mat-label>Коментарии</mat-label>
          <textarea matInput formControlName="comment" autosize></textarea>
        </mat-form-field>
      </div>
      <div class="gray-wrapper" formArrayName="tovars">
        <table class="table sortable structure-table">
            <thead>
                <tr>
                    <th>Товар</th>
                    <th>Колличество</th>
                </tr>
            </thead>
            <tfoot>
                <tr class="noprint">
                    <td class="noprint" colspan="4">
                      <a class="btn-link add-write-off" data-type="add-write-off" (click)="addTovarArray()">Добавить позицию</a>
                    </td>
                    <td class="noprint-cell"></td>
                </tr>
            </tfoot>
            <tbody>
              <tr *ngFor="let tovar of tovars.controls; let i = index">
                <td class="tovar">
                  <mat-form-field style="width: 100%">
                    <input type="text" matInput [formControl]="tovar.controls['name']" [matAutocomplete]="auto" required >
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let item of sklads" [value]="item.tovar" (click)="selectedItem(item, i)">
                            {{item.tovar}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field style="width: 100%">
                    <input matInput type="text" [formControl]="tovar.controls['quantity']" (keyup)="onChange($event, i)"  required>
                  </mat-form-field>
                </td>
                <td class="noprint"><a class="delete-red-ingredient" (click)="removeIngredient(i)">×</a></td>
              </tr>
            </tbody>
        </table>
        <div class="controls">
            <button type="submit" class="btn btn-success btn-sm" [disabled]="!form.valid" (click)="sendForm()">Списать</button>
        </div> 
      </div>
    </div>
  </div>
</div>