<div class="stats-wrapper">
  <cdk-virtual-scroll-viewport class="table-viewport" [itemSize]="20">
    <table class="full-list table">
      <thead>
        <tr>
          <th [style.top]="inverseOfTranslation" style="width: 50px;"></th>
          <th [style.top]="inverseOfTranslation">Название</th>
          <th [style.top]="inverseOfTranslation">Категория</th>
          <th [style.top]="inverseOfTranslation">Единица измерения</th>
          <th [style.top]="inverseOfTranslation">Остаток на складе</th>
          <th [style.top]="inverseOfTranslation">Себестоимость</th>
          <th [style.top]="inverseOfTranslation">Сумма остатка</th>
          <th [style.top]="inverseOfTranslation" style="width: 100px;"></th>
        </tr>
      </thead>
      <tbody>
        <tr *cdkVirtualFor="let sklad of sklads" class="item" cdkFixedHeader>
          <td>
            <a class="fa fa-area-chart delivery-area-chart" href="#myModal" data-toggle="modal" data-name="Chupa chups"></a>
          </td>
          <td class="left-cell index"><a class="show-ing-uses-table pseudo-link" data-id="61" data-type="1" data-cols="9">{{sklad.tovar}}</a></td>
          <td>{{sklad.categories_name}}</td>
          <td>{{sklad.ed}}</td>
          <td>{{sklad.value}}</td>
          <td>{{sklad.price}} <i class="fa fa-rub"></i></td>                            
          <td>{{sklad.price_itog}} <i class="fa fa-rub"></i></td>
          <td>
            <div><a href="#" id="recept_red" (click)="ngEdit(sklad)">Изменить</a></div>
            <div><a href="#" id="write-off" (click)="ngWriteOff(sklad)">Списать</a></div>
            <div (click)="openModal(sklad.id, sklad.tovar, 'sklad')">Удалить</div>                                  
          </td> 
        </tr>
      </tbody>
    </table>
  </cdk-virtual-scroll-viewport>        
</div>