<div class="index_top">
    <div class="chart-wrapper"> 
        <div class="flex-container flex-reverse">
            <div class="wrap-container"> 
                <h2>Популярные товары</h2>
                <div id="wrap-container"> </div>
            </div>
            <div class="stats-container"> 
                <div class="col-xs-12 br-lg-r"
                 *ngFor="let status of statuses; let i = index" 
                 [ngClass]="{'br-active': typeStats === i}" 
                 (click)="toggleChart(i, typePeriod)"
                >
                    <div class="col-sm-8">
                        <h4>{{ status.name }} <span>{{ status.value }}<i class="fa fa-rub"></i></span></h4>
                    </div>
                    <div class="col-sm-4">                        
                        <span class="measure persantage"><sup>{{ status.percent }}</sup></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrap-stat">
            <span>
                <button type="button"  class="btn btn-stat h_week" [ngClass]="{'active': activeStats === 0}" (click)="toggleChart(typeStats, 0)">Неделя</button>
                <button type="button" class="btn btn-stat h_month" [ngClass]="{'active': activeStats === 1}"  (click)="toggleChart(typeStats, 1)">Месяц</button>
            </span>
            <div id="container_chart" style="height: 300px; margin: 0 auto"></div>
        </div>
    <div class="index-bottom"> 
            <div class="wrap-container wrap-popular">
                    <h2>Популярные товары</h2>
                    <div class="flexItem">
                        <div class="popular-chart" id="popular-chart">            

                        </div>
                        <div class="popular-table">
                            <table class="table table-overflow">
                                <thead>
                                    <tr>
                                        <th>Товар</th>
                                        <th>Продаж</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let tovar of tovars">
                                        <td>{{tovar.name}}</td>
                                        <td>{{tovar.sold}}</td>
                                    </tr>                                 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        <div class="wrap-users wrap-container">
                <h2>Сотрудники</h2>
                <div class="flexItem">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Сотрудник</th>
                                <th>Доход</th>
                                <th>Прибыль</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let person of persons">
                                <td>{{person.name}}</td>
                                <td></td>
                                <td><i class="fa fa-rub"></i></td>
                            </tr>        
                        </tbody>
                    </table> 
                </div>
            </div>
    </div>
</div>