.plus {    
    align-self: center;
    justify-content: center;
    margin-left: 12px;
    color: #4597ef;
    cursor: pointer;
    border: solid 1px #4597ef;
    text-align: center;
    width: 20px;
}
.alignSelf {
    align-self: center;
}