div.blue-wrapper {
    padding: 3px;
    background-color: #f4f4f4;
    border: solid 2px #2688cd;
    margin-left: -15px;
    margin-right: 10px;
    border-left: none;
    flex:1;
    padding-top: 12px;
}
.flexBox {
    display: flex
}
.structure-table {

    tr {
        color: black !important;

        &:hover {
            background: #f9f9f9;
            transition: background-color 200ms linear;
            -moz-transition: background-color 200ms linear;
            -webkit-transition: background-color 200ms linear;
            -o-transition: background-color 200ms linear;
        }
    }
}
.operation-total {
    border: solid 2px #2688cd;
    z-index: 1000;
    background: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: -15px;
    height: min-content;

    legend {
        text-align: center;
        padding-left: 0px;
        border-bottom: solid 1px #e0e0e0;
        padding-bottom: 3px;
        margin-bottom: 5px;
        font-size: 11px;
        font-weight: bold;
    }
    .math-operation {
        padding: 2px;
        font-weight: bold;
        margin-left: -2px;
        margin-right: -2px;
        margin-top: 4px;
        margin-bottom: 5px;
    }
}
.btn-link {
    margin-top: 0%;
    display: block;
    text-align: right;
    padding-top: 1%;
    padding-bottom: 1%;
}
td, th {
    padding: 0;
    border-top-color: #e7eaec;
    border-top-style: solid;
    border-top-width: 1px;
}
.show > .dropdown-menu {
  overflow: auto;
  height: 200px;
}
