<div *ngIf="visible">
    <div *ngIf="warehouse">
      <a [routerLink]="['/dashboard', 'addSklad']" class="btn btn-sm btn-add">Добавить поставку</a>
      <a [routerLink]="['/dashboard', 'addSklad']" class="btn btn-sm btn-add">Добавить позицию</a>     
    </div> 
    <div *ngIf="menu">
      <a [routerLink]="['/dashboard', 'addtovar']" class="btn btn-sm btn-add">Добавить товар</a>
      <a [routerLink]="['/dashboard', 'addrecept']" class="btn btn-sm btn-add">Добавить технологическую карту</a>     
    </div> 
    <div *ngIf="addPersonal">
      <a [routerLink]="['/dashboard', 'newpersonal']"  class="btn btn-sm btn-add">Добавить сотрудника</a>
    </div>   
    <div *ngIf="addFilial">
      <a [routerLink]="['/dashboard', 'addFilial']"  class="btn btn-sm btn-add">Новое заведение</a>
    </div>   
</div>
