<div class="sj-panel sj-panel-fh">
  <div class="sj-panel-body">
    <table class="full-list table">
      <thead>
        <tr>
          <th style="width: 50px;"></th>
          <th >Название</th>
          <th>Категория</th>
          <th>Единица измерения</th>
          <th>Остаток на складе</th>
          <th>Себестоимость</th>
          <th>Сумма остатка</th>
          <th>Действия</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sklad of sklads" class="item">
          <td>
            <a class="fa fa-area-chart delivery-area-chart" href="#myModal" data-toggle="modal" data-name="Chupa chups"></a>
          </td>
          <td class="left-cell index"><a class="show-ing-uses-table pseudo-link" data-id="61" data-type="1" data-cols="9">{{sklad.tovar}}</a></td>
          <td>{{sklad.categories_name}}</td>
          <td>{{sklad.ed}}</td>
          <td>{{sklad.value}}</td>
          <td>{{sklad.price}} <i class="fa fa-rub"></i></td>                            
          <td>{{sklad.price_itog}} <i class="fa fa-rub"></i></td>
          <td>
              <a (click)="ngEdit(sklad)" class="mr-25" data-toggle="tooltip" data-original-title="Редактировать"> <i class="icon-pencil"></i></a>  
              <a (click)="ngWriteOff(sklad)" class="mr-25" data-toggle="tooltip" data-original-title="Списать"> <i class="icon-action-redo icons"></i> </a>       
              <a (click)="openModal(sklad.id, sklad.tovar, 'sklad')" class="mr-25" data-toggle="tooltip" data-original-title="Удалить"> <i class="icon-trash txt-danger"></i> </a>       
          </td>
        </tr>
      </tbody>
    </table>  
</div>
</div>