<div class="sj-panel sj-panel-fh">
  <div class="sj-panel-body">
    <table class="full-list table" *ngIf="finance">
      <thead>
        <tr>
          <th name="d">Статья</th>
          <th name="smena_id">Детализация</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="6" class="title">Доходы</td>
        </tr>
        <ng-container *ngFor="let item of finance">
        <tr class="bill" *ngIf="item.operation === 0">
          <td>{{item.name}}</td>
          <td align="right" class="nowrap text-success">{{ item.sum | number:'3.1-5' }}</td>
        </tr>
      </ng-container>
        <tr>
          <td colspan="6" class="title">Расходы</td>
        </tr>
        <ng-container *ngFor="let item of finance">
        <tr class="bill" *ngIf="item.operation === 1">
          <td>{{item.name}}</td>
          <td align="right" class="nowrap text-danger">{{ item.sum | number:'3.1-5' }}</td>
        </tr>
      </ng-container>
      <tr>
        <td colspan="2" class="title">Прочее</td>
      </tr>
      <tr>
          <td>Инкасация</td>
          <td class="nowrap text-success" align="right"></td>
      </tr>
      </tbody>
      <tfoot>
        <tr class="title" >
          <td><b>Всего расходов</b></td>
          <td align="right" class="text-danger">{{setFinance(1) | number:'3.1-5'}}</td>
        </tr>
        <tr class="title">
          <td><b>Всего доходов</b></td>
          <td align="right" class="text-success">{{setFinance(0) | number:'3.1-5'}}</td>
        </tr>
        <tr class="title">
          <td><b>Финансовый результат</b></td>
          <td align="right">{{setFinance(0) - setFinance(1)}}</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>