<div class="sj-panel sj-panel-fh">
  <div class="sj-panel-header">
      <app-filter [warehouse]="true"></app-filter>
  </div>
  <div class="sj-panel-body">
    <mat-expansion-panel hideToggle *ngFor="let item of delivery">
      <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px">
        <mat-panel-title>
          {{formateDate(item.date)}}
        </mat-panel-title>
        <mat-panel-description>
          {{item.sklad_name}}
        </mat-panel-description>
        <mat-panel-description>
          {{item.price}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <table class="full-list table detail-table">
        <thead>
          <tr>
            <th>Товар</th>
            <th>Количество</th>
            <th>Цена</th>
          </tr>
        </thead>
        <tbody *ngIf="item.goods">
          <tr *ngFor="let good of item.goods" class="item">
            <td>{{good.name}}</td>
            <td>{{good.quantity}}</td>
            <td>{{good.price}}</td>
          </tr>
        </tbody>
      </table>    
    </mat-expansion-panel>
    <sj-paginator *ngIf="delivery.length" 
      [length]="delivery.total"
      [array]="delivery"
      [limit]="limit"
      (params)="setPaginatorParams($event)"
    ></sj-paginator> 
  </div>
</div>