<div class="sj-panel sj-panel-fh">
  <div class="sj-panel-header">
      <app-filter [warehouse]="true"></app-filter>
  </div>
  <div class="sj-panel-body">
      <table class="full-list table">
        <thead>
          <tr>
            <th>Дата поставки</th>
            <th>Поставщик</th>
            <th>Сумма</th>
            <th>Действия</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of delivery" class="item">
            <td>{{item.date}}</td>    
            <td>{{item.sklad_name}}</td>                           
            <td>{{item.price}} <i class="fa fa-rub"></i></td>
            <td>
                <a (click)="ngEdit(item)" class="mr-25" data-toggle="tooltip" data-original-title="Редактировать"> <i class="icon-pencil"></i></a>  
                <a (click)="openModal(item, 'delivery')" class="mr-25" data-toggle="tooltip" data-original-title="Удалить"> <i class="icon-trash txt-danger"></i> </a>       
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>