<terminal-header [openSmena]="settingsService.isOpenSmena | async" [smena]="settingsService.activeSmena | async"></terminal-header>
<div class="row main-container">
  <div class="col-8 barista-container">
    <div class="barista-box">
      <terminal-id class="width100" [promo]="promo"></terminal-id>
    </div>
      <div class="barista-promo">
        <ng-container *ngFor="let item of promo; let i = index">
          <span class="modal_pay btn promo" 
            *ngIf="item.combo == 0 && item.id" 
            (click)="onSelectItem(item)" 
            [class.active]="item === activeItem"
          >
          {{item.name}}
        </span>
        </ng-container>
      </div>
  </div>
  <div class="col-4 side-bill">
    <terminal-bill [openSmena]="settingsService.isOpenSmena | async" [smena]="settingsService.activeSmena | async"></terminal-bill>  
  </div>
</div>
<app-alert></app-alert>