<div class="categories col-2 sec-wrapper" *ngFor="let item of items" (click)="getChildren(item.childe)">
  <img src="../assets/images/no_foto.jpg">
  <span class="name">{{item.name}}</span>
</div> 
<div class="tovar col-2 sec-wrapper" *ngFor="let item of menu" (click)="getZakaz(item)">
  <div class="tovar-name">
    {{item.name}}
    <hr>
    <span *ngIf="item.categories == 1">
      Объем: <b>{{item.size}}</b>
      <br>
    </span>
    Цена: <b>{{item.price}} <i class="fa fa-rub"></i></b><br>          
    <br>
    <div class="icon">
        <span *ngIf="item.weight_flag"><i class="fa fa-balance-scale"></i></span>
        <span *ngIf="!item.nodiscount"><i class="fa fa-percent"></i></span>
    </div>
  </div>
  <div class="process" *ngIf="item.process">Рецепт</div>
</div> 