<div class="sj-panel sj-panel-fh">
    <div class="sj-panel-header">
        <a (click)="updateModal(item, 5)" class="btn btn-sm btn-add">Новое заведение</a>
    </div>
    <div class="sj-panel-body">
        <table class="table table-centered">
            <thead>
                <tr>            
                    <th>Заведение</th>
                    <th>Адрес</th>
                    <th>Выручка</th>
                    <th>Прибыль</th>
                    <th>Чеки</th>
                    <th>Средний чек</th>
                    <th>Скидки</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
               <tr *ngFor="let item of settings.filialResponse | async" class="item">
                    <td class="left-cell index">{{item.name}}</td>
                    <td>{{item.adress}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.profit}}</td>
                    <td>{{item.count}}</td>
                    <td>{{item.avg_price}}</td>
                    <td>{{item.sale_price}}</td>
                    <td>
                        <i class="icon-pencil mr-25" (click)="updateModal(item, 5)"></i>
                        <i class="icon-trash txt-danger mr-25" (click)="deleteModal(item, 'filial')"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>