
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$funBox-primary: mat-palette($mat-indigo);
$funBox-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$funBox-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$funBox-theme: mat-light-theme($funBox-primary, $funBox-accent, $funBox-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($funBox-theme);

@font-face {
	font-family: "ExoThin";
  	src: url('/assets/fonts/Exo2.0-Thin.otf');
}
@font-face {
	font-family: 'Open Sans';
	src: url('/assets/fonts/OpenSans-SemiBoldItalic.eot');
	src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
		url('/assets/fonts/OpenSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/OpenSans-SemiBoldItalic.woff') format('woff'),
		url('/assets/fonts/OpenSans-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/assets/fonts/OpenSans-LightItalic.eot');
	src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
		url('/assets/fonts/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/OpenSans-LightItalic.woff') format('woff'),
		url('/assets/fonts/OpenSans-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/assets/fonts/OpenSans-Bold.eot');
	src: local('Open Sans Bold'), local('OpenSans-Bold'),
		url('/assets/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/OpenSans-Bold.woff') format('woff'),
		url('/assets/fonts/OpenSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/assets/fonts/OpenSans-ExtraBoldItalic.eot');
	src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'),
		url('/assets/fonts/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/OpenSans-ExtraBoldItalic.woff') format('woff'),
		url('/assets/fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/assets/fonts/OpenSans-Light.eot');
	src: local('Open Sans Light'), local('OpenSans-Light'),
		url('/assets/fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/OpenSans-Light.woff') format('woff'),
		url('/assets/fonts/OpenSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/assets/fonts/OpenSans-Italic.eot');
	src: local('Open Sans Italic'), local('OpenSans-Italic'),
		url('/assets/fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/OpenSans-Italic.woff') format('woff'),
		url('/assets/fonts/OpenSans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/assets/fonts/OpenSans-Regular.eot');
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
		url('/assets/fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/OpenSans-Regular.woff') format('woff'),
		url('/assets/fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/assets/fonts/OpenSans-SemiBold.eot');
	src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
		url('/assets/fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/OpenSans-SemiBold.woff') format('woff'),
		url('/assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/assets/fonts/OpenSans-ExtraBold.eot');
	src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
		url('/assets/fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/OpenSans-ExtraBold.woff') format('woff'),
		url('/assets/fonts/OpenSans-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/assets/fonts/OpenSans-BoldItalic.eot');
	src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
		url('/assets/fonts/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/OpenSans-BoldItalic.woff') format('woff'),
		url('/assets/fonts/OpenSans-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
@font-face {
    font-family: 'Poppins';
    src: local('Poppins Light'), local('Poppins-Light'), 
    url('/assets/fonts/Poppinslight.woff2') format('woff2'), 
    url('/assets/fonts/Poppinslight.woff') format('woff'), 
    url('/assets/fonts/Poppinslight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: local('Poppins Regular'), local('Poppins-Regular'), 
    url('/assets/fonts/Poppinsregular.woff2') format('woff2'), 
    url('/assets/fonts/Poppinsregular.woff') format('woff'), 
    url('/assets/fonts/Poppinsregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: local('Poppins Poppins-BoldSemiBold'), local('Poppins-SemiBold'), 
    url('/assets/fonts/Poppinspoppins-boldsemibold.woff2') format('woff2'), 
    url('/assets/fonts/Poppinspoppins-boldsemibold.woff') format('woff'), 
    url('/assets/fonts/Poppinspoppins-boldsemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: local('Poppins Thin'), local('Poppins-Thin'), 
    url('/assets/fonts/Poppinsthin.woff2') format('woff2'), 
    url('/assets/fonts/Poppinsthin.woff') format('woff'), 
    url('/assets/fonts/Poppinsthin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: local('Poppins Italic'), local('Poppins-Italic'), 
    url('/assets/fonts/Poppinsitalic.woff2') format('woff2'), 
    url('/assets/fonts/Poppinsitalic.woff') format('woff'), 
    url('/assets/fonts/Poppinsitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins';
    src: local('Poppins Medium Italic'), local('Poppins-MediumItalic'), 
    url('/assets/fonts/Poppinsmediumitalic.woff2') format('woff2'), 
    url('/assets/fonts/Poppinsmediumitalic.woff') format('woff'),
    url('/assets/fonts/Poppinsmediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins';
    src: local('Poppins ExtraLight Italic'), local('Poppins-ExtraLightItalic'), 
    url('/assets/fonts/Poppinsextralightitalic.woff2') format('woff2'), 
    url('/assets/fonts/Poppinsextralightitalic.woff') format('woff'), 
    url('/assets/fonts/Poppinsextralightitalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins';
    src: local('Poppins ExtraBold Italic'), local('Poppins-ExtraBoldItalic'), 
    url('/assets/fonts/Poppinsextrabolditalic.woff2') format('woff2'), 
    url('/assets/fonts/Poppinsextrabolditalic.woff') format('woff'), 
    url('/assets/fonts/Poppinsextrabolditalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins';
    src: local('Poppins ExtraBold'), local('Poppins-ExtraBold'), 
    url('/assets/fonts/Poppinsextrabold.woff2') format('woff2'), 
    url('/assets/fonts/Poppinsextrabold.woff') format('woff'), 
    url('/assets/fonts/Poppinsextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: local('Poppins Light Italic'), local('Poppins-LightItalic'), 
    url('/assets/fonts/Poppinslightitalic.woff2') format('woff2'), 
    url('/assets/fonts/Poppinslightitalic.woff') format('woff'), 
    url('/assets/fonts/Poppinslightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins';
    src: local('Poppins Black'), local('Poppins-Black'), 
    url('/assets/fonts/Poppinsblack.woff2') format('woff2'), 
    url('/assets/fonts/Poppinsblack.woff') format('woff'), 
    url('/assets/fonts/Poppinsblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: local('Poppins Thin Italic'), local('Poppins-ThinItalic'), 
    url('/assets/fonts/Poppinsthinitalic.woff2') format('woff2'), 
    url('/assets/fonts/Poppinsthinitalic.woff') format('woff'), 
    url('/assets/fonts/Poppinsthinitalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins';
    src: local('Poppins Poppins-SemiBoldMedium'), local('Poppins-Medium'), 
    url('/assets/fonts/Poppinspoppins-semiboldmedium.woff2') format('woff2'), 
    url('/assets/fonts/Poppinspoppins-semiboldmedium.woff') format('woff'), 
    url('/assets/fonts/Poppinspoppins-semiboldmedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: local('Poppins ExtraLight'), local('Poppins-ExtraLight'), 
    url('/assets/fonts/Poppinsextralight.woff2') format('woff2'), 
    url('/assets/fonts/Poppinsextralight.woff') format('woff'), 
    url('/assets/fonts/Poppinsextralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'),
    url('/assets/fonts/Poppinsbolditalic.woff2') format('woff2'), 
    url('/assets/fonts/Poppinsbolditalic.woff') format('woff'), 
    url('/assets/fonts/Poppinsbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins';
    src: local('Poppins SemiBold Italic'), local('Poppins-SemiBoldItalic'), 
    url('/assets/fonts/Poppinssemibolditalic.woff2') format('woff2'), 
    url('/assets/fonts/Poppinssemibolditalic.woff') format('woff'), 
    url('/assets/fonts/Poppinssemibolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins';
    src: local('Poppins Bold'), local('Poppins-Bold'), 
    url('/assets/fonts/Poppinsbold.woff2') format('woff2'), 
    url('/assets/fonts/Poppinsbold.woff') format('woff'), 
    url('/assets/fonts/Poppinsbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: local('Poppins Black Italic'), local('Poppins-BlackItalic'),
     url('/assets/fonts/Poppinsblackitalic.woff2') format('woff2'), 
     url('/assets/fonts/Poppinsblackitalic.woff') format('woff'), 
     url('/assets/fonts/Poppinsblackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}


html, body {
    width: 100%;
    color: #6f7a7f !important;
    margin: 0;
    font-family: "Poppins", sans-serif !important;
    font-size: 0.9rem !important;
    font-weight: 400 !important;
}
h2 {
	font-size: 15px;
	padding-left: 1%;
	margin-top: 10px;
	margin-bottom: 20px !important;
}
a {
    text-decoration: none;
    color: #f83f37;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    transition: color 0.2s ease;
}
.btn-danger {
    background-color: #ed1622 !important;
    border-color: #ed1622 !important;
}
.display-5 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}
.mb-10 {
    margin-bottom: 10px !important;
}
.font-weight-500 {
    font-weight: 500 !important;
}
.font-24 {
    font-size: 24px !important;
}
.form-control {
    color: #495057 !important;
    border: 1px solid #e0e3e4 !important;
    border-radius: .25rem !important;
}
.index_notindex {
    background: white;
    height: 100%;
}
.content-header {
    margin: 11px 0px 20px 0px;
    padding: 5px 30px 0 30px;
    text-align: right;
    width: 100%;
}
.table > tbody > tr > td {
    border-top: 1px solid #eee;
    padding: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-overflow: ellipsis;
    transition: none;
}
.table > thead > tr > th {
	cursor: pointer;
    padding-left: 10px;
	font-size: 11px;
	background: white;
	position: sticky;
	top: 0;
    padding-bottom: 6px;
    text-align: left;
}
.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
    border-top: 0;
}
.table-viewport{
    height: 85%;
    border: none;
}
.table-viewport tbody tr:first-child td {
    border-top: none !important;
}
i.detail_menu {
    cursor: pointer;
    font-size: 20px;
    color: #1e1e1e;
    margin-right: 11px !important;
}
.btn-add {
    cursor: pointer;
    background-color: rgb(21, 179, 240) !important;
    color: rgb(255, 255, 255) !important;
    font-weight: normal !important;
    font-size: 14px !important;
    margin: 2px;
    border-width: initial !important;
    border-style: none !important;
    border-color: initial !important;
    border-image: initial !important;
    padding: 5px 18px !important;
}
.filter_form {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(238, 238, 238);
}
.form-group {
    display: table;
    margin-bottom: 15px;
    width: 100%;
}
.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.highcharts-credits {
    display: none;
}
a:active, a:hover {
    outline: 0;
}

.item-process-number {
    float: left;
    width: 10% !important;
    opacity: 0.5;
    cursor: not-allowed;
}
.item-process {
    float: left;
    width: 90% !important;
}
.btn-secondary {
    color: #292b2c !important;
    background-color: #fff !important;
    border-color: #ccc !important;
}
.show>.dropdown-menu {
    display: block;
}
.dropdown-toggle-split{
	flex:0 !important;
	&:hover {
		color: #292b2c !important;
		background-color: #e6e6e6 !important;
		border-color: #adadad !important;
	}
}
cdk-virtual-scroll-viewport {
	height: inherit;
    table {
        height: 100%;
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;

        thead {
            tr {
                th {
                    position: sticky;
                    top: 0;
				}
			}
		}
	}
}
.stats-wrapper {
	height: 100%
}
.addPlus {
  padding: 5%;
  cursor: pointer;
  font-size: 10px;
  border-radius: 50%;
  margin: 0;
  background: #f76666;
  color: white;
  box-sizing: border-box;
  display: block;
  text-align: center;
  vertical-align: bottom;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.label-danger {
    color: #ED5565;
	border: solid 1px #ED5565;
    padding: 7px;
}
.label-primary {
    color: #5d9cec;
    border: solid 1px #5d9cec;
    padding: 7px !important;
}
.green {
    color: #63cb89;
}
.br-lg-r .measure i {
    font-size: 30px;
    float: right;
}
.stats-container .fa {
    font-size: 15px;
    padding-left: 4px;
}
.stats-container sup {
    float: right;
    margin-top: 11px;
    font-size: 14px;
}
.br-lg-r h4 span {
    float: right;
}
i.detail_bill {
    cursor: pointer;
    font-size: 20px;
    color: #1e1e1e;
    margin-right: 11px !important;
}
.sj-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -7px;
    margin-left: -7px;
}
.sj-legend-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}    
.sj-legend {
    margin-left: 15px;
    margin-right: 15px;
}
.card {
    margin-bottom: 14px;
    box-shadow: none;
}
.card.card-sm .card-body {
    padding: 1rem;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.col, [class*="col-"] {
    padding-right: 7px !important;
    padding-left: 7px !important;
}

.maxHeight-151{
    max-height: 151px;
} 
.minHeight-151{
    min-height: 151px;
}